.geo-map {
    cursor: pointer;
}

.geo-map-city {
    cursor: pointer;
    transition: 0.2s;
}

.geo-map-city-selected {
    stroke: black;
}

.station-pie {
    cursor: pointer;
}

g.station-pie {
    stroke-width: 1px;
}

.station-pie:hover {
    stroke: black;
    transition: 0.2s;
}

g.station-pie:hover {
    stroke-width: 3px;
}

.station-pie-selected {
    stroke: black;
}

g.station-pie-selected {
    stroke-width: 3px;
}

.geo-tooltip {
    position: absolute;
    z-index: 90;
    background-color: white;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
}